{
  "openapi": "3.1.1",
  "info": {
    "title": "國土測繪圖資雲一千分之一地形圖WFS服務",
    "description": "提供一千分之一地形圖 GetFeature 服務 (v1.0 規範版本)",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://wfs.nlsc.gov.tw/WFS"
    }
  ],
  "paths": {
    "/TOPON1K/TOPON1K_112_B04": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺中市東勢都市計畫(112年)",
        "description": "WFS_1/1000地形圖_臺中市東勢都市計畫(112年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_B04",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_B04_BOX",
                "WFS:TOPON1K_112_B04_BRIDGE",
                "WFS:TOPON1K_112_B04_BUILD",
                "WFS:TOPON1K_112_B04_CONTROL",
                "WFS:TOPON1K_112_B04_COUNTY",
                "WFS:TOPON1K_112_B04_FRAMEINDEX",
                "WFS:TOPON1K_112_B04_HROADA",
                "WFS:TOPON1K_112_B04_HSRAIL",
                "WFS:TOPON1K_112_B04_LRT",
                "WFS:TOPON1K_112_B04_MANHOLE",
                "WFS:TOPON1K_112_B04_MARK",
                "WFS:TOPON1K_112_B04_MRT",
                "WFS:TOPON1K_112_B04_PATH",
                "WFS:TOPON1K_112_B04_RAIL",
                "WFS:TOPON1K_112_B04_RIVERA",
                "WFS:TOPON1K_112_B04_RIVERB",
                "WFS:TOPON1K_112_B04_RIVERL",
                "WFS:TOPON1K_112_B04_ROAD",
                "WFS:TOPON1K_112_B04_ROADA",
                "WFS:TOPON1K_112_B04_SPOT",
                "WFS:TOPON1K_112_B04_STREAM",
                "WFS:TOPON1K_112_B04_TOWER",
                "WFS:TOPON1K_112_B04_TOWN",
                "WFS:TOPON1K_112_B04_TUNNEL",
                "WFS:TOPON1K_112_B04_TUNNELA",
                "WFS:TOPON1K_112_B04_VILLAGE",
                "WFS:TOPON1K_112_B04_WATERA"
              ],
              "example": "WFS:TOPON1K_112_B04_BOX"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_B04_BOX",
                "WFS:TOPON1K_112_B04_BRIDGE",
                "WFS:TOPON1K_112_B04_BUILD",
                "WFS:TOPON1K_112_B04_CONTROL",
                "WFS:TOPON1K_112_B04_COUNTY",
                "WFS:TOPON1K_112_B04_FRAMEINDEX",
                "WFS:TOPON1K_112_B04_HROADA",
                "WFS:TOPON1K_112_B04_HSRAIL",
                "WFS:TOPON1K_112_B04_LRT",
                "WFS:TOPON1K_112_B04_MANHOLE",
                "WFS:TOPON1K_112_B04_MARK",
                "WFS:TOPON1K_112_B04_MRT",
                "WFS:TOPON1K_112_B04_PATH",
                "WFS:TOPON1K_112_B04_RAIL",
                "WFS:TOPON1K_112_B04_RIVERA",
                "WFS:TOPON1K_112_B04_RIVERB",
                "WFS:TOPON1K_112_B04_RIVERL",
                "WFS:TOPON1K_112_B04_ROAD",
                "WFS:TOPON1K_112_B04_ROADA",
                "WFS:TOPON1K_112_B04_SPOT",
                "WFS:TOPON1K_112_B04_STREAM",
                "WFS:TOPON1K_112_B04_TOWER",
                "WFS:TOPON1K_112_B04_TOWN",
                "WFS:TOPON1K_112_B04_TUNNEL",
                "WFS:TOPON1K_112_B04_TUNNELA",
                "WFS:TOPON1K_112_B04_VILLAGE",
                "WFS:TOPON1K_112_B04_WATERA"
              ],
              "example": "WFS:TOPON1K_112_B04_BOX"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string",
              "example": "120.5,23.5,120.6,23.6"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案；參數合法但查無圖徵時回傳空集合)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          },
          "422": {
            "description": "請求範圍過大 (單次呼叫空間範圍超過 1 平方公里限制)"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_B11": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺中市新社都市計畫(112年)",
        "description": "WFS_1/1000地形圖_臺中市新社都市計畫(112年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_B11",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_B11_BOX",
                "WFS:TOPON1K_112_B11_BRIDGE",
                "WFS:TOPON1K_112_B11_BUILD",
                "WFS:TOPON1K_112_B11_CONTROL",
                "WFS:TOPON1K_112_B11_COUNTY",
                "WFS:TOPON1K_112_B11_FRAMEINDEX",
                "WFS:TOPON1K_112_B11_HROADA",
                "WFS:TOPON1K_112_B11_HSRAIL",
                "WFS:TOPON1K_112_B11_LRT",
                "WFS:TOPON1K_112_B11_MANHOLE",
                "WFS:TOPON1K_112_B11_MARK",
                "WFS:TOPON1K_112_B11_MRT",
                "WFS:TOPON1K_112_B11_PATH",
                "WFS:TOPON1K_112_B11_RAIL",
                "WFS:TOPON1K_112_B11_RIVERA",
                "WFS:TOPON1K_112_B11_RIVERB",
                "WFS:TOPON1K_112_B11_RIVERL",
                "WFS:TOPON1K_112_B11_ROAD",
                "WFS:TOPON1K_112_B11_ROADA",
                "WFS:TOPON1K_112_B11_SPOT",
                "WFS:TOPON1K_112_B11_STREAM",
                "WFS:TOPON1K_112_B11_TOWER",
                "WFS:TOPON1K_112_B11_TOWN",
                "WFS:TOPON1K_112_B11_TUNNEL",
                "WFS:TOPON1K_112_B11_TUNNELA",
                "WFS:TOPON1K_112_B11_VILLAGE",
                "WFS:TOPON1K_112_B11_WATERA"
              ],
              "example": "WFS:TOPON1K_112_B11_BOX"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_B11_BOX",
                "WFS:TOPON1K_112_B11_BRIDGE",
                "WFS:TOPON1K_112_B11_BUILD",
                "WFS:TOPON1K_112_B11_CONTROL",
                "WFS:TOPON1K_112_B11_COUNTY",
                "WFS:TOPON1K_112_B11_FRAMEINDEX",
                "WFS:TOPON1K_112_B11_HROADA",
                "WFS:TOPON1K_112_B11_HSRAIL",
                "WFS:TOPON1K_112_B11_LRT",
                "WFS:TOPON1K_112_B11_MANHOLE",
                "WFS:TOPON1K_112_B11_MARK",
                "WFS:TOPON1K_112_B11_MRT",
                "WFS:TOPON1K_112_B11_PATH",
                "WFS:TOPON1K_112_B11_RAIL",
                "WFS:TOPON1K_112_B11_RIVERA",
                "WFS:TOPON1K_112_B11_RIVERB",
                "WFS:TOPON1K_112_B11_RIVERL",
                "WFS:TOPON1K_112_B11_ROAD",
                "WFS:TOPON1K_112_B11_ROADA",
                "WFS:TOPON1K_112_B11_SPOT",
                "WFS:TOPON1K_112_B11_STREAM",
                "WFS:TOPON1K_112_B11_TOWER",
                "WFS:TOPON1K_112_B11_TOWN",
                "WFS:TOPON1K_112_B11_TUNNEL",
                "WFS:TOPON1K_112_B11_TUNNELA",
                "WFS:TOPON1K_112_B11_VILLAGE",
                "WFS:TOPON1K_112_B11_WATERA"
              ],
              "example": "WFS:TOPON1K_112_B11_BOX"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string",
              "example": "120.5,23.5,120.6,23.6"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案；參數合法但查無圖徵時回傳空集合)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          },
          "422": {
            "description": "請求範圍過大 (單次呼叫空間範圍超過 1 平方公里限制)"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_B14": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺中市烏日都市計畫(112年)",
        "description": "WFS_1/1000地形圖_臺中市烏日都市計畫(112年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_B14",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_B14_BOX",
                "WFS:TOPON1K_112_B14_BRIDGE",
                "WFS:TOPON1K_112_B14_BUILD",
                "WFS:TOPON1K_112_B14_CONTROL",
                "WFS:TOPON1K_112_B14_COUNTY",
                "WFS:TOPON1K_112_B14_FRAMEINDEX",
                "WFS:TOPON1K_112_B14_HROADA",
                "WFS:TOPON1K_112_B14_HSRAIL",
                "WFS:TOPON1K_112_B14_LRT",
                "WFS:TOPON1K_112_B14_MANHOLE",
                "WFS:TOPON1K_112_B14_MARK",
                "WFS:TOPON1K_112_B14_MRT",
                "WFS:TOPON1K_112_B14_PATH",
                "WFS:TOPON1K_112_B14_RAIL",
                "WFS:TOPON1K_112_B14_RIVERA",
                "WFS:TOPON1K_112_B14_RIVERB",
                "WFS:TOPON1K_112_B14_RIVERL",
                "WFS:TOPON1K_112_B14_ROAD",
                "WFS:TOPON1K_112_B14_ROADA",
                "WFS:TOPON1K_112_B14_SPOT",
                "WFS:TOPON1K_112_B14_STREAM",
                "WFS:TOPON1K_112_B14_TOWER",
                "WFS:TOPON1K_112_B14_TOWN",
                "WFS:TOPON1K_112_B14_TUNNEL",
                "WFS:TOPON1K_112_B14_TUNNELA",
                "WFS:TOPON1K_112_B14_VILLAGE",
                "WFS:TOPON1K_112_B14_WATERA"
              ],
              "example": "WFS:TOPON1K_112_B14_BOX"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_B14_BOX",
                "WFS:TOPON1K_112_B14_BRIDGE",
                "WFS:TOPON1K_112_B14_BUILD",
                "WFS:TOPON1K_112_B14_CONTROL",
                "WFS:TOPON1K_112_B14_COUNTY",
                "WFS:TOPON1K_112_B14_FRAMEINDEX",
                "WFS:TOPON1K_112_B14_HROADA",
                "WFS:TOPON1K_112_B14_HSRAIL",
                "WFS:TOPON1K_112_B14_LRT",
                "WFS:TOPON1K_112_B14_MANHOLE",
                "WFS:TOPON1K_112_B14_MARK",
                "WFS:TOPON1K_112_B14_MRT",
                "WFS:TOPON1K_112_B14_PATH",
                "WFS:TOPON1K_112_B14_RAIL",
                "WFS:TOPON1K_112_B14_RIVERA",
                "WFS:TOPON1K_112_B14_RIVERB",
                "WFS:TOPON1K_112_B14_RIVERL",
                "WFS:TOPON1K_112_B14_ROAD",
                "WFS:TOPON1K_112_B14_ROADA",
                "WFS:TOPON1K_112_B14_SPOT",
                "WFS:TOPON1K_112_B14_STREAM",
                "WFS:TOPON1K_112_B14_TOWER",
                "WFS:TOPON1K_112_B14_TOWN",
                "WFS:TOPON1K_112_B14_TUNNEL",
                "WFS:TOPON1K_112_B14_TUNNELA",
                "WFS:TOPON1K_112_B14_VILLAGE",
                "WFS:TOPON1K_112_B14_WATERA"
              ],
              "example": "WFS:TOPON1K_112_B14_BOX"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string",
              "example": "120.5,23.5,120.6,23.6"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案；參數合法但查無圖徵時回傳空集合)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          },
          "422": {
            "description": "請求範圍過大 (單次呼叫空間範圍超過 1 平方公里限制)"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_B15": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺中市大肚都市計畫(112年)",
        "description": "WFS_1/1000地形圖_臺中市大肚都市計畫(112年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_B15",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_B15_BOX",
                "WFS:TOPON1K_112_B15_BRIDGE",
                "WFS:TOPON1K_112_B15_BUILD",
                "WFS:TOPON1K_112_B15_CONTROL",
                "WFS:TOPON1K_112_B15_COUNTY",
                "WFS:TOPON1K_112_B15_FRAMEINDEX",
                "WFS:TOPON1K_112_B15_HROADA",
                "WFS:TOPON1K_112_B15_HSRAIL",
                "WFS:TOPON1K_112_B15_LRT",
                "WFS:TOPON1K_112_B15_MANHOLE",
                "WFS:TOPON1K_112_B15_MARK",
                "WFS:TOPON1K_112_B15_MRT",
                "WFS:TOPON1K_112_B15_PATH",
                "WFS:TOPON1K_112_B15_RAIL",
                "WFS:TOPON1K_112_B15_RIVERA",
                "WFS:TOPON1K_112_B15_RIVERB",
                "WFS:TOPON1K_112_B15_RIVERL",
                "WFS:TOPON1K_112_B15_ROAD",
                "WFS:TOPON1K_112_B15_ROADA",
                "WFS:TOPON1K_112_B15_SPOT",
                "WFS:TOPON1K_112_B15_STREAM",
                "WFS:TOPON1K_112_B15_TOWER",
                "WFS:TOPON1K_112_B15_TOWN",
                "WFS:TOPON1K_112_B15_TUNNEL",
                "WFS:TOPON1K_112_B15_TUNNELA",
                "WFS:TOPON1K_112_B15_VILLAGE",
                "WFS:TOPON1K_112_B15_WATERA"
              ],
              "example": "WFS:TOPON1K_112_B15_BOX"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_B15_BOX",
                "WFS:TOPON1K_112_B15_BRIDGE",
                "WFS:TOPON1K_112_B15_BUILD",
                "WFS:TOPON1K_112_B15_CONTROL",
                "WFS:TOPON1K_112_B15_COUNTY",
                "WFS:TOPON1K_112_B15_FRAMEINDEX",
                "WFS:TOPON1K_112_B15_HROADA",
                "WFS:TOPON1K_112_B15_HSRAIL",
                "WFS:TOPON1K_112_B15_LRT",
                "WFS:TOPON1K_112_B15_MANHOLE",
                "WFS:TOPON1K_112_B15_MARK",
                "WFS:TOPON1K_112_B15_MRT",
                "WFS:TOPON1K_112_B15_PATH",
                "WFS:TOPON1K_112_B15_RAIL",
                "WFS:TOPON1K_112_B15_RIVERA",
                "WFS:TOPON1K_112_B15_RIVERB",
                "WFS:TOPON1K_112_B15_RIVERL",
                "WFS:TOPON1K_112_B15_ROAD",
                "WFS:TOPON1K_112_B15_ROADA",
                "WFS:TOPON1K_112_B15_SPOT",
                "WFS:TOPON1K_112_B15_STREAM",
                "WFS:TOPON1K_112_B15_TOWER",
                "WFS:TOPON1K_112_B15_TOWN",
                "WFS:TOPON1K_112_B15_TUNNEL",
                "WFS:TOPON1K_112_B15_TUNNELA",
                "WFS:TOPON1K_112_B15_VILLAGE",
                "WFS:TOPON1K_112_B15_WATERA"
              ],
              "example": "WFS:TOPON1K_112_B15_BOX"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string",
              "example": "120.5,23.5,120.6,23.6"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案；參數合法但查無圖徵時回傳空集合)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          },
          "422": {
            "description": "請求範圍過大 (單次呼叫空間範圍超過 1 平方公里限制)"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_113_B20": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺中市中部科學工業園區台中基地附近特定區計畫(113年)",
        "description": "WFS_1/1000地形圖_臺中市中部科學工業園區台中基地附近特定區計畫(113年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_B20",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_113_B20_BOX",
                "WFS:TOPON1K_113_B20_BRIDGE",
                "WFS:TOPON1K_113_B20_BUILD",
                "WFS:TOPON1K_113_B20_CONTROL",
                "WFS:TOPON1K_113_B20_COUNTY",
                "WFS:TOPON1K_113_B20_FRAMEINDEX",
                "WFS:TOPON1K_113_B20_HSRAIL",
                "WFS:TOPON1K_113_B20_MANHOLE",
                "WFS:TOPON1K_113_B20_MARK",
                "WFS:TOPON1K_113_B20_PATH",
                "WFS:TOPON1K_113_B20_ROAD",
                "WFS:TOPON1K_113_B20_ROADA",
                "WFS:TOPON1K_113_B20_SPOT",
                "WFS:TOPON1K_113_B20_TOWER",
                "WFS:TOPON1K_113_B20_TOWN",
                "WFS:TOPON1K_113_B20_VILLAGE",
                "WFS:TOPON1K_113_B20_WATERA"
              ],
              "example": "WFS:TOPON1K_113_B20_BOX"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_113_B20_BOX",
                "WFS:TOPON1K_113_B20_BRIDGE",
                "WFS:TOPON1K_113_B20_BUILD",
                "WFS:TOPON1K_113_B20_CONTROL",
                "WFS:TOPON1K_113_B20_COUNTY",
                "WFS:TOPON1K_113_B20_FRAMEINDEX",
                "WFS:TOPON1K_113_B20_HSRAIL",
                "WFS:TOPON1K_113_B20_MANHOLE",
                "WFS:TOPON1K_113_B20_MARK",
                "WFS:TOPON1K_113_B20_PATH",
                "WFS:TOPON1K_113_B20_ROAD",
                "WFS:TOPON1K_113_B20_ROADA",
                "WFS:TOPON1K_113_B20_SPOT",
                "WFS:TOPON1K_113_B20_TOWER",
                "WFS:TOPON1K_113_B20_TOWN",
                "WFS:TOPON1K_113_B20_VILLAGE",
                "WFS:TOPON1K_113_B20_WATERA"
              ],
              "example": "WFS:TOPON1K_113_B20_BOX"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string",
              "example": "120.5,23.5,120.6,23.6"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案；參數合法但查無圖徵時回傳空集合)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          },
          "422": {
            "description": "請求範圍過大 (單次呼叫空間範圍超過 1 平方公里限制)"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_B22": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺中市高速公路王田交流道附近特定區計畫(112年)",
        "description": "WFS_1/1000地形圖_臺中市高速公路王田交流道附近特定區計畫(112年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_B22",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_B22_BOX",
                "WFS:TOPON1K_112_B22_BRIDGE",
                "WFS:TOPON1K_112_B22_BUILD",
                "WFS:TOPON1K_112_B22_CONTROL",
                "WFS:TOPON1K_112_B22_COUNTY",
                "WFS:TOPON1K_112_B22_FRAMEINDEX",
                "WFS:TOPON1K_112_B22_HROADA",
                "WFS:TOPON1K_112_B22_HSRAIL",
                "WFS:TOPON1K_112_B22_LRT",
                "WFS:TOPON1K_112_B22_MANHOLE",
                "WFS:TOPON1K_112_B22_MARK",
                "WFS:TOPON1K_112_B22_MRT",
                "WFS:TOPON1K_112_B22_PATH",
                "WFS:TOPON1K_112_B22_RAIL",
                "WFS:TOPON1K_112_B22_RIVERA",
                "WFS:TOPON1K_112_B22_RIVERB",
                "WFS:TOPON1K_112_B22_RIVERL",
                "WFS:TOPON1K_112_B22_ROAD",
                "WFS:TOPON1K_112_B22_ROADA",
                "WFS:TOPON1K_112_B22_SPOT",
                "WFS:TOPON1K_112_B22_STREAM",
                "WFS:TOPON1K_112_B22_TOWER",
                "WFS:TOPON1K_112_B22_TOWN",
                "WFS:TOPON1K_112_B22_TUNNEL",
                "WFS:TOPON1K_112_B22_TUNNELA",
                "WFS:TOPON1K_112_B22_VILLAGE",
                "WFS:TOPON1K_112_B22_WATERA"
              ],
              "example": "WFS:TOPON1K_112_B22_BOX"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_B22_BOX",
                "WFS:TOPON1K_112_B22_BRIDGE",
                "WFS:TOPON1K_112_B22_BUILD",
                "WFS:TOPON1K_112_B22_CONTROL",
                "WFS:TOPON1K_112_B22_COUNTY",
                "WFS:TOPON1K_112_B22_FRAMEINDEX",
                "WFS:TOPON1K_112_B22_HROADA",
                "WFS:TOPON1K_112_B22_HSRAIL",
                "WFS:TOPON1K_112_B22_LRT",
                "WFS:TOPON1K_112_B22_MANHOLE",
                "WFS:TOPON1K_112_B22_MARK",
                "WFS:TOPON1K_112_B22_MRT",
                "WFS:TOPON1K_112_B22_PATH",
                "WFS:TOPON1K_112_B22_RAIL",
                "WFS:TOPON1K_112_B22_RIVERA",
                "WFS:TOPON1K_112_B22_RIVERB",
                "WFS:TOPON1K_112_B22_RIVERL",
                "WFS:TOPON1K_112_B22_ROAD",
                "WFS:TOPON1K_112_B22_ROADA",
                "WFS:TOPON1K_112_B22_SPOT",
                "WFS:TOPON1K_112_B22_STREAM",
                "WFS:TOPON1K_112_B22_TOWER",
                "WFS:TOPON1K_112_B22_TOWN",
                "WFS:TOPON1K_112_B22_TUNNEL",
                "WFS:TOPON1K_112_B22_TUNNELA",
                "WFS:TOPON1K_112_B22_VILLAGE",
                "WFS:TOPON1K_112_B22_WATERA"
              ],
              "example": "WFS:TOPON1K_112_B22_BOX"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string",
              "example": "120.5,23.5,120.6,23.6"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案；參數合法但查無圖徵時回傳空集合)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          },
          "422": {
            "description": "請求範圍過大 (單次呼叫空間範圍超過 1 平方公里限制)"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_113_B25": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺中市豐潭雅神都市計畫(113年)",
        "description": "WFS_1/1000地形圖_臺中市豐潭雅神都市計畫(113年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_B25",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_113_B25_BOX",
                "WFS:TOPON1K_113_B25_BRIDGE",
                "WFS:TOPON1K_113_B25_BUILD",
                "WFS:TOPON1K_113_B25_CONTROL",
                "WFS:TOPON1K_113_B25_COUNTY",
                "WFS:TOPON1K_113_B25_FRAMEINDEX",
                "WFS:TOPON1K_113_B25_HROADA",
                "WFS:TOPON1K_113_B25_HSRAIL",
                "WFS:TOPON1K_113_B25_MANHOLE",
                "WFS:TOPON1K_113_B25_MARK",
                "WFS:TOPON1K_113_B25_PATH",
                "WFS:TOPON1K_113_B25_RAIL",
                "WFS:TOPON1K_113_B25_RIVERA",
                "WFS:TOPON1K_113_B25_RIVERB",
                "WFS:TOPON1K_113_B25_RIVERL",
                "WFS:TOPON1K_113_B25_ROAD",
                "WFS:TOPON1K_113_B25_ROADA",
                "WFS:TOPON1K_113_B25_SPOT",
                "WFS:TOPON1K_113_B25_TOWER",
                "WFS:TOPON1K_113_B25_TOWN",
                "WFS:TOPON1K_113_B25_TUNNEL",
                "WFS:TOPON1K_113_B25_TUNNELA",
                "WFS:TOPON1K_113_B25_VILLAGE",
                "WFS:TOPON1K_113_B25_WATERA"
              ],
              "example": "WFS:TOPON1K_113_B25_BOX"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_113_B25_BOX",
                "WFS:TOPON1K_113_B25_BRIDGE",
                "WFS:TOPON1K_113_B25_BUILD",
                "WFS:TOPON1K_113_B25_CONTROL",
                "WFS:TOPON1K_113_B25_COUNTY",
                "WFS:TOPON1K_113_B25_FRAMEINDEX",
                "WFS:TOPON1K_113_B25_HROADA",
                "WFS:TOPON1K_113_B25_HSRAIL",
                "WFS:TOPON1K_113_B25_MANHOLE",
                "WFS:TOPON1K_113_B25_MARK",
                "WFS:TOPON1K_113_B25_PATH",
                "WFS:TOPON1K_113_B25_RAIL",
                "WFS:TOPON1K_113_B25_RIVERA",
                "WFS:TOPON1K_113_B25_RIVERB",
                "WFS:TOPON1K_113_B25_RIVERL",
                "WFS:TOPON1K_113_B25_ROAD",
                "WFS:TOPON1K_113_B25_ROADA",
                "WFS:TOPON1K_113_B25_SPOT",
                "WFS:TOPON1K_113_B25_TOWER",
                "WFS:TOPON1K_113_B25_TOWN",
                "WFS:TOPON1K_113_B25_TUNNEL",
                "WFS:TOPON1K_113_B25_TUNNELA",
                "WFS:TOPON1K_113_B25_VILLAGE",
                "WFS:TOPON1K_113_B25_WATERA"
              ],
              "example": "WFS:TOPON1K_113_B25_BOX"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string",
              "example": "120.5,23.5,120.6,23.6"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案；參數合法但查無圖徵時回傳空集合)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          },
          "422": {
            "description": "請求範圍過大 (單次呼叫空間範圍超過 1 平方公里限制)"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_D03": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺南市新營都市計畫(112年)",
        "description": "WFS_1/1000地形圖_臺南市新營都市計畫(112年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_D03",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_D03_BOX",
                "WFS:TOPON1K_112_D03_BRIDGE",
                "WFS:TOPON1K_112_D03_BUILD",
                "WFS:TOPON1K_112_D03_CONTROL",
                "WFS:TOPON1K_112_D03_COUNTY",
                "WFS:TOPON1K_112_D03_FRAMEINDEX",
                "WFS:TOPON1K_112_D03_HROADA",
                "WFS:TOPON1K_112_D03_MANHOLE",
                "WFS:TOPON1K_112_D03_MARK",
                "WFS:TOPON1K_112_D03_PATH",
                "WFS:TOPON1K_112_D03_RAIL",
                "WFS:TOPON1K_112_D03_RIVERA",
                "WFS:TOPON1K_112_D03_RIVERB",
                "WFS:TOPON1K_112_D03_RIVERL",
                "WFS:TOPON1K_112_D03_ROAD",
                "WFS:TOPON1K_112_D03_ROADA",
                "WFS:TOPON1K_112_D03_SPOT",
                "WFS:TOPON1K_112_D03_STREAM",
                "WFS:TOPON1K_112_D03_TOWER",
                "WFS:TOPON1K_112_D03_TOWN",
                "WFS:TOPON1K_112_D03_VILLAGE",
                "WFS:TOPON1K_112_D03_WATERA"
              ],
              "example": "WFS:TOPON1K_112_D03_BOX"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_D03_BOX",
                "WFS:TOPON1K_112_D03_BRIDGE",
                "WFS:TOPON1K_112_D03_BUILD",
                "WFS:TOPON1K_112_D03_CONTROL",
                "WFS:TOPON1K_112_D03_COUNTY",
                "WFS:TOPON1K_112_D03_FRAMEINDEX",
                "WFS:TOPON1K_112_D03_HROADA",
                "WFS:TOPON1K_112_D03_MANHOLE",
                "WFS:TOPON1K_112_D03_MARK",
                "WFS:TOPON1K_112_D03_PATH",
                "WFS:TOPON1K_112_D03_RAIL",
                "WFS:TOPON1K_112_D03_RIVERA",
                "WFS:TOPON1K_112_D03_RIVERB",
                "WFS:TOPON1K_112_D03_RIVERL",
                "WFS:TOPON1K_112_D03_ROAD",
                "WFS:TOPON1K_112_D03_ROADA",
                "WFS:TOPON1K_112_D03_SPOT",
                "WFS:TOPON1K_112_D03_STREAM",
                "WFS:TOPON1K_112_D03_TOWER",
                "WFS:TOPON1K_112_D03_TOWN",
                "WFS:TOPON1K_112_D03_VILLAGE",
                "WFS:TOPON1K_112_D03_WATERA"
              ],
              "example": "WFS:TOPON1K_112_D03_BOX"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string",
              "example": "120.5,23.5,120.6,23.6"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案；參數合法但查無圖徵時回傳空集合)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          },
          "422": {
            "description": "請求範圍過大 (單次呼叫空間範圍超過 1 平方公里限制)"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_D04": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺南市高速公路新營交流道附近特定區計畫(112年)",
        "description": "WFS_1/1000地形圖_臺南市高速公路新營交流道附近特定區計畫(112年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_D04",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_D04_BOX",
                "WFS:TOPON1K_112_D04_BRIDGE",
                "WFS:TOPON1K_112_D04_BUILD",
                "WFS:TOPON1K_112_D04_CONTROL",
                "WFS:TOPON1K_112_D04_COUNTY",
                "WFS:TOPON1K_112_D04_FRAMEINDEX",
                "WFS:TOPON1K_112_D04_HROADA",
                "WFS:TOPON1K_112_D04_MANHOLE",
                "WFS:TOPON1K_112_D04_MARK",
                "WFS:TOPON1K_112_D04_PATH",
                "WFS:TOPON1K_112_D04_RIVERA",
                "WFS:TOPON1K_112_D04_RIVERB",
                "WFS:TOPON1K_112_D04_RIVERL",
                "WFS:TOPON1K_112_D04_ROAD",
                "WFS:TOPON1K_112_D04_ROADA",
                "WFS:TOPON1K_112_D04_SPOT",
                "WFS:TOPON1K_112_D04_STREAM",
                "WFS:TOPON1K_112_D04_TOWER",
                "WFS:TOPON1K_112_D04_TOWN",
                "WFS:TOPON1K_112_D04_VILLAGE",
                "WFS:TOPON1K_112_D04_WATERA"
              ],
              "example": "WFS:TOPON1K_112_D04_BOX"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_D04_BOX",
                "WFS:TOPON1K_112_D04_BRIDGE",
                "WFS:TOPON1K_112_D04_BUILD",
                "WFS:TOPON1K_112_D04_CONTROL",
                "WFS:TOPON1K_112_D04_COUNTY",
                "WFS:TOPON1K_112_D04_FRAMEINDEX",
                "WFS:TOPON1K_112_D04_HROADA",
                "WFS:TOPON1K_112_D04_MANHOLE",
                "WFS:TOPON1K_112_D04_MARK",
                "WFS:TOPON1K_112_D04_PATH",
                "WFS:TOPON1K_112_D04_RIVERA",
                "WFS:TOPON1K_112_D04_RIVERB",
                "WFS:TOPON1K_112_D04_RIVERL",
                "WFS:TOPON1K_112_D04_ROAD",
                "WFS:TOPON1K_112_D04_ROADA",
                "WFS:TOPON1K_112_D04_SPOT",
                "WFS:TOPON1K_112_D04_STREAM",
                "WFS:TOPON1K_112_D04_TOWER",
                "WFS:TOPON1K_112_D04_TOWN",
                "WFS:TOPON1K_112_D04_VILLAGE",
                "WFS:TOPON1K_112_D04_WATERA"
              ],
              "example": "WFS:TOPON1K_112_D04_BOX"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string",
              "example": "120.5,23.5,120.6,23.6"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案；參數合法但查無圖徵時回傳空集合)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          },
          "422": {
            "description": "請求範圍過大 (單次呼叫空間範圍超過 1 平方公里限制)"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_D05": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺南市鹽水都市計畫(112年)",
        "description": "WFS_1/1000地形圖_臺南市鹽水都市計畫(112年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_D05",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_D05_BOX",
                "WFS:TOPON1K_112_D05_BRIDGE",
                "WFS:TOPON1K_112_D05_BUILD",
                "WFS:TOPON1K_112_D05_CONTROL",
                "WFS:TOPON1K_112_D05_COUNTY",
                "WFS:TOPON1K_112_D05_FRAMEINDEX",
                "WFS:TOPON1K_112_D05_MANHOLE",
                "WFS:TOPON1K_112_D05_MARK",
                "WFS:TOPON1K_112_D05_PATH",
                "WFS:TOPON1K_112_D05_RIVERA",
                "WFS:TOPON1K_112_D05_RIVERB",
                "WFS:TOPON1K_112_D05_RIVERL",
                "WFS:TOPON1K_112_D05_ROAD",
                "WFS:TOPON1K_112_D05_ROADA",
                "WFS:TOPON1K_112_D05_SPOT",
                "WFS:TOPON1K_112_D05_STREAM",
                "WFS:TOPON1K_112_D05_TOWER",
                "WFS:TOPON1K_112_D05_TOWN",
                "WFS:TOPON1K_112_D05_VILLAGE",
                "WFS:TOPON1K_112_D05_WATERA"
              ],
              "example": "WFS:TOPON1K_112_D05_BOX"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_D05_BOX",
                "WFS:TOPON1K_112_D05_BRIDGE",
                "WFS:TOPON1K_112_D05_BUILD",
                "WFS:TOPON1K_112_D05_CONTROL",
                "WFS:TOPON1K_112_D05_COUNTY",
                "WFS:TOPON1K_112_D05_FRAMEINDEX",
                "WFS:TOPON1K_112_D05_MANHOLE",
                "WFS:TOPON1K_112_D05_MARK",
                "WFS:TOPON1K_112_D05_PATH",
                "WFS:TOPON1K_112_D05_RIVERA",
                "WFS:TOPON1K_112_D05_RIVERB",
                "WFS:TOPON1K_112_D05_RIVERL",
                "WFS:TOPON1K_112_D05_ROAD",
                "WFS:TOPON1K_112_D05_ROADA",
                "WFS:TOPON1K_112_D05_SPOT",
                "WFS:TOPON1K_112_D05_STREAM",
                "WFS:TOPON1K_112_D05_TOWER",
                "WFS:TOPON1K_112_D05_TOWN",
                "WFS:TOPON1K_112_D05_VILLAGE",
                "WFS:TOPON1K_112_D05_WATERA"
              ],
              "example": "WFS:TOPON1K_112_D05_BOX"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string",
              "example": "120.5,23.5,120.6,23.6"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案；參數合法但查無圖徵時回傳空集合)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          },
          "422": {
            "description": "請求範圍過大 (單次呼叫空間範圍超過 1 平方公里限制)"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_113_D08": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺南市佳里都市計畫(113年)",
        "description": "WFS_1/1000地形圖_臺南市佳里都市計畫(113年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_D08",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_113_D08_BOX",
                "WFS:TOPON1K_113_D08_BRIDGE",
                "WFS:TOPON1K_113_D08_BUILD",
                "WFS:TOPON1K_113_D08_CONTROL",
                "WFS:TOPON1K_113_D08_COUNTY",
                "WFS:TOPON1K_113_D08_FRAMEINDEX",
                "WFS:TOPON1K_113_D08_MANHOLE",
                "WFS:TOPON1K_113_D08_MARK",
                "WFS:TOPON1K_113_D08_PATH",
                "WFS:TOPON1K_113_D08_RIVERA",
                "WFS:TOPON1K_113_D08_RIVERB",
                "WFS:TOPON1K_113_D08_RIVERL",
                "WFS:TOPON1K_113_D08_ROAD",
                "WFS:TOPON1K_113_D08_ROADA",
                "WFS:TOPON1K_113_D08_SPOT",
                "WFS:TOPON1K_113_D08_STREAM",
                "WFS:TOPON1K_113_D08_TOWER",
                "WFS:TOPON1K_113_D08_TOWN",
                "WFS:TOPON1K_113_D08_VILLAGE",
                "WFS:TOPON1K_113_D08_WATERA"
              ],
              "example": "WFS:TOPON1K_113_D08_BOX"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_113_D08_BOX",
                "WFS:TOPON1K_113_D08_BRIDGE",
                "WFS:TOPON1K_113_D08_BUILD",
                "WFS:TOPON1K_113_D08_CONTROL",
                "WFS:TOPON1K_113_D08_COUNTY",
                "WFS:TOPON1K_113_D08_FRAMEINDEX",
                "WFS:TOPON1K_113_D08_MANHOLE",
                "WFS:TOPON1K_113_D08_MARK",
                "WFS:TOPON1K_113_D08_PATH",
                "WFS:TOPON1K_113_D08_RIVERA",
                "WFS:TOPON1K_113_D08_RIVERB",
                "WFS:TOPON1K_113_D08_RIVERL",
                "WFS:TOPON1K_113_D08_ROAD",
                "WFS:TOPON1K_113_D08_ROADA",
                "WFS:TOPON1K_113_D08_SPOT",
                "WFS:TOPON1K_113_D08_STREAM",
                "WFS:TOPON1K_113_D08_TOWER",
                "WFS:TOPON1K_113_D08_TOWN",
                "WFS:TOPON1K_113_D08_VILLAGE",
                "WFS:TOPON1K_113_D08_WATERA"
              ],
              "example": "WFS:TOPON1K_113_D08_BOX"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string",
              "example": "120.5,23.5,120.6,23.6"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案；參數合法但查無圖徵時回傳空集合)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          },
          "422": {
            "description": "請求範圍過大 (單次呼叫空間範圍超過 1 平方公里限制)"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_D12": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_臺南市柳營都市計畫(112年)",
        "description": "WFS_1/1000地形圖_臺南市柳營都市計畫(112年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_D12",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_D12_BOX",
                "WFS:TOPON1K_112_D12_BRIDGE",
                "WFS:TOPON1K_112_D12_BUILD",
                "WFS:TOPON1K_112_D12_CONTROL",
                "WFS:TOPON1K_112_D12_COUNTY",
                "WFS:TOPON1K_112_D12_FRAMEINDEX",
                "WFS:TOPON1K_112_D12_MANHOLE",
                "WFS:TOPON1K_112_D12_MARK",
                "WFS:TOPON1K_112_D12_PATH",
                "WFS:TOPON1K_112_D12_RIVERA",
                "WFS:TOPON1K_112_D12_RIVERB",
                "WFS:TOPON1K_112_D12_RIVERL",
                "WFS:TOPON1K_112_D12_ROAD",
                "WFS:TOPON1K_112_D12_ROADA",
                "WFS:TOPON1K_112_D12_SPOT",
                "WFS:TOPON1K_112_D12_STREAM",
                "WFS:TOPON1K_112_D12_TOWER",
                "WFS:TOPON1K_112_D12_TOWN",
                "WFS:TOPON1K_112_D12_VILLAGE",
                "WFS:TOPON1K_112_D12_WATERA"
              ],
              "example": "WFS:TOPON1K_112_D12_BOX"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_D12_BOX",
                "WFS:TOPON1K_112_D12_BRIDGE",
                "WFS:TOPON1K_112_D12_BUILD",
                "WFS:TOPON1K_112_D12_CONTROL",
                "WFS:TOPON1K_112_D12_COUNTY",
                "WFS:TOPON1K_112_D12_FRAMEINDEX",
                "WFS:TOPON1K_112_D12_MANHOLE",
                "WFS:TOPON1K_112_D12_MARK",
                "WFS:TOPON1K_112_D12_PATH",
                "WFS:TOPON1K_112_D12_RIVERA",
                "WFS:TOPON1K_112_D12_RIVERB",
                "WFS:TOPON1K_112_D12_RIVERL",
                "WFS:TOPON1K_112_D12_ROAD",
                "WFS:TOPON1K_112_D12_ROADA",
                "WFS:TOPON1K_112_D12_SPOT",
                "WFS:TOPON1K_112_D12_STREAM",
                "WFS:TOPON1K_112_D12_TOWER",
                "WFS:TOPON1K_112_D12_TOWN",
                "WFS:TOPON1K_112_D12_VILLAGE",
                "WFS:TOPON1K_112_D12_WATERA"
              ],
              "example": "WFS:TOPON1K_112_D12_BOX"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string",
              "example": "120.5,23.5,120.6,23.6"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案；參數合法但查無圖徵時回傳空集合)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          },
          "422": {
            "description": "請求範圍過大 (單次呼叫空間範圍超過 1 平方公里限制)"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_113_E02": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_高雄市鳳山都市計畫(113年)",
        "description": "WFS_1/1000地形圖_高雄市鳳山都市計畫(113年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_E02",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_113_E02_BOX",
                "WFS:TOPON1K_113_E02_BRIDGE",
                "WFS:TOPON1K_113_E02_BUILD",
                "WFS:TOPON1K_113_E02_CONTROL",
                "WFS:TOPON1K_113_E02_COUNTY",
                "WFS:TOPON1K_113_E02_FRAMEINDEX",
                "WFS:TOPON1K_113_E02_HROADA",
                "WFS:TOPON1K_113_E02_LRT",
                "WFS:TOPON1K_113_E02_MANHOLE",
                "WFS:TOPON1K_113_E02_MARK",
                "WFS:TOPON1K_113_E02_MRT",
                "WFS:TOPON1K_113_E02_PATH",
                "WFS:TOPON1K_113_E02_RAIL",
                "WFS:TOPON1K_113_E02_RIVERA",
                "WFS:TOPON1K_113_E02_RIVERB",
                "WFS:TOPON1K_113_E02_RIVERL",
                "WFS:TOPON1K_113_E02_ROAD",
                "WFS:TOPON1K_113_E02_ROADA",
                "WFS:TOPON1K_113_E02_SPOT",
                "WFS:TOPON1K_113_E02_STREAM",
                "WFS:TOPON1K_113_E02_TOWER",
                "WFS:TOPON1K_113_E02_TOWN",
                "WFS:TOPON1K_113_E02_TUNNEL",
                "WFS:TOPON1K_113_E02_TUNNELA",
                "WFS:TOPON1K_113_E02_VILLAGE",
                "WFS:TOPON1K_113_E02_WATERA"
              ],
              "example": "WFS:TOPON1K_113_E02_BOX"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_113_E02_BOX",
                "WFS:TOPON1K_113_E02_BRIDGE",
                "WFS:TOPON1K_113_E02_BUILD",
                "WFS:TOPON1K_113_E02_CONTROL",
                "WFS:TOPON1K_113_E02_COUNTY",
                "WFS:TOPON1K_113_E02_FRAMEINDEX",
                "WFS:TOPON1K_113_E02_HROADA",
                "WFS:TOPON1K_113_E02_LRT",
                "WFS:TOPON1K_113_E02_MANHOLE",
                "WFS:TOPON1K_113_E02_MARK",
                "WFS:TOPON1K_113_E02_MRT",
                "WFS:TOPON1K_113_E02_PATH",
                "WFS:TOPON1K_113_E02_RAIL",
                "WFS:TOPON1K_113_E02_RIVERA",
                "WFS:TOPON1K_113_E02_RIVERB",
                "WFS:TOPON1K_113_E02_RIVERL",
                "WFS:TOPON1K_113_E02_ROAD",
                "WFS:TOPON1K_113_E02_ROADA",
                "WFS:TOPON1K_113_E02_SPOT",
                "WFS:TOPON1K_113_E02_STREAM",
                "WFS:TOPON1K_113_E02_TOWER",
                "WFS:TOPON1K_113_E02_TOWN",
                "WFS:TOPON1K_113_E02_TUNNEL",
                "WFS:TOPON1K_113_E02_TUNNELA",
                "WFS:TOPON1K_113_E02_VILLAGE",
                "WFS:TOPON1K_113_E02_WATERA"
              ],
              "example": "WFS:TOPON1K_113_E02_BOX"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string",
              "example": "120.5,23.5,120.6,23.6"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案；參數合法但查無圖徵時回傳空集合)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          },
          "422": {
            "description": "請求範圍過大 (單次呼叫空間範圍超過 1 平方公里限制)"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_112_E03": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_高雄市岡山都市計畫(112年)",
        "description": "WFS_1/1000地形圖_高雄市岡山都市計畫(112年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_E03",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_E03_BOX",
                "WFS:TOPON1K_112_E03_BRIDGE",
                "WFS:TOPON1K_112_E03_BUILD",
                "WFS:TOPON1K_112_E03_CONTROL",
                "WFS:TOPON1K_112_E03_COUNTY",
                "WFS:TOPON1K_112_E03_FRAMEINDEX",
                "WFS:TOPON1K_112_E03_MANHOLE",
                "WFS:TOPON1K_112_E03_MARK",
                "WFS:TOPON1K_112_E03_PATH",
                "WFS:TOPON1K_112_E03_RIVERA",
                "WFS:TOPON1K_112_E03_RIVERB",
                "WFS:TOPON1K_112_E03_RIVERL",
                "WFS:TOPON1K_112_E03_ROAD",
                "WFS:TOPON1K_112_E03_ROADA",
                "WFS:TOPON1K_112_E03_SPOT",
                "WFS:TOPON1K_112_E03_STREAM",
                "WFS:TOPON1K_112_E03_TOWER",
                "WFS:TOPON1K_112_E03_TOWN",
                "WFS:TOPON1K_112_E03_VILLAGE",
                "WFS:TOPON1K_112_E03_WATERA"
              ],
              "example": "WFS:TOPON1K_112_E03_BOX"
            }
          },
          {
            "name": "TYPENAMES",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 2.0.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_112_E03_BOX",
                "WFS:TOPON1K_112_E03_BRIDGE",
                "WFS:TOPON1K_112_E03_BUILD",
                "WFS:TOPON1K_112_E03_CONTROL",
                "WFS:TOPON1K_112_E03_COUNTY",
                "WFS:TOPON1K_112_E03_FRAMEINDEX",
                "WFS:TOPON1K_112_E03_MANHOLE",
                "WFS:TOPON1K_112_E03_MARK",
                "WFS:TOPON1K_112_E03_PATH",
                "WFS:TOPON1K_112_E03_RIVERA",
                "WFS:TOPON1K_112_E03_RIVERB",
                "WFS:TOPON1K_112_E03_RIVERL",
                "WFS:TOPON1K_112_E03_ROAD",
                "WFS:TOPON1K_112_E03_ROADA",
                "WFS:TOPON1K_112_E03_SPOT",
                "WFS:TOPON1K_112_E03_STREAM",
                "WFS:TOPON1K_112_E03_TOWER",
                "WFS:TOPON1K_112_E03_TOWN",
                "WFS:TOPON1K_112_E03_VILLAGE",
                "WFS:TOPON1K_112_E03_WATERA"
              ],
              "example": "WFS:TOPON1K_112_E03_BOX"
            }
          },
          {
            "name": "SRSName",
            "in": "query",
            "required": false,
            "description": "座標參考系統 (例如 EPSG:3857, EPSG:4326, EPSG:3826)",
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:3857",
                "EPSG:4326",
                "EPSG:3826",
                "EPSG:3825"
              ],
              "default": "EPSG:4326"
            }
          },
          {
            "name": "BBOX",
            "in": "query",
            "required": false,
            "description": "邊界框 (minX,minY,maxX,maxY)",
            "schema": {
              "type": "string",
              "example": "120.5,23.5,120.6,23.6"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "description": "回傳檔案格式",
            "schema": {
              "type": "string",
              "enum": [
                "GML"
              ],
              "default": "GML"
            }
          },
          {
            "name": "MAXFEATURES",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 1.0/1.1 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "COUNT",
            "in": "query",
            "required": false,
            "description": "最大回傳圖徵筆數 (WFS 2.0 專用)",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功回應 (依據 outputFormat 回傳 GML/XML、GeoJSON 或 ZIP 檔案；參數合法但查無圖徵時回傳空集合)",
            "content": {
              "application/gml+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "請求參數錯誤或語法無效"
          },
          "422": {
            "description": "請求範圍過大 (單次呼叫空間範圍超過 1 平方公里限制)"
          }
        }
      }
    },
    "/TOPON1K/TOPON1K_113_E32": {
      "get": {
        "tags": [
          "一千分之一地形圖 WFS"
        ],
        "summary": "WFS_1/1000地形圖_高雄市(三民.苓雅.前金.新興.前鎮.鹽埕)都市計畫(113年)",
        "description": "WFS_1/1000地形圖_高雄市(三民.苓雅.前金.新興.前鎮.鹽埕)都市計畫(113年)\n\n注意：單次呼叫空間範圍不可超過1平方公里。",
        "operationId": "2dms_t1kwfs_v1_TOPON1K_E32",
        "x-updateTime": "2026-07-02T00:00:00+08:00",
        "parameters": [
          {
            "name": "SERVICE",
            "in": "query",
            "required": true,
            "description": "服務類型，固定為 WFS",
            "schema": {
              "type": "string",
              "enum": [
                "WFS"
              ],
              "default": "WFS"
            }
          },
          {
            "name": "REQUEST",
            "in": "query",
            "required": true,
            "description": "請求操作類型。支援 GetCapabilities, DescribeFeatureType, GetFeature",
            "schema": {
              "type": "string",
              "enum": [
                "GetCapabilities",
                "DescribeFeatureType",
                "GetFeature"
              ],
              "default": "GetCapabilities"
            }
          },
          {
            "name": "VERSION",
            "in": "query",
            "required": true,
            "description": "OGC WFS 版本號。系統支援 1.0.0, 1.1.0, 2.0.0",
            "schema": {
              "type": "string",
              "enum": [
                "1.0.0",
                "1.1.0",
                "2.0.0"
              ],
              "default": "1.1.0"
            }
          },
          {
            "name": "TYPENAME",
            "in": "query",
            "required": false,
            "description": "圖層名稱 (WFS 1.0.0 / 1.1.0 專用)",
            "schema": {
              "type": "string",
              "enum": [
                "WFS:TOPON1K_113_E32_BOX",
                "WFS:TOPON1K_113_E32_BRIDGE",
                "WFS:TOPON1K_113_E32_BUILD",
                "WFS:TOPON1K_113_E32_CONTROL",
                "WFS:TOPON1K_113_E32_COUNTY",
                "WFS:TOPON1K_113_E32_FRAMEINDEX",
                "WFS:TOPON1K_113_E32_HROADA",
[...]
